* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #181820;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.htmlContainer {
  width: 80vw;
  transform: translate(-50%, -50%);
}

.title {
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #fff;
  filter: drop-shadow(1px 0px 10px black);
  pointer-events: none;
}
